.slick-slider {

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: FontAwesome;
    display: none !important;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.7;
    font-size: 50px;
    background: none;
    color: color(white);
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
      transition: opacity 0.3s;
    }

    @media (min-width: bp(lg)) {
      display: block !important;
    }
  }

  .slick-prev {
    left: 10px;
    z-index: 10;
  }

  .slick-next {
    right: 10px;
    z-index: 10;
  }
}